*{
    margin: 0px;
    padding: 0px;
}
.container-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.navbar{
    background-color: #282c34;
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
}
.left{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: 60px;
}
.left a{
    padding: 50px;
    color: white;
    text-decoration: none;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}
.right a{
    margin-left: auto;
    color: white;
    text-decoration: none;
}

.search{
    width: 80%;
    padding: 12px;
    margin-top: 16px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightblue;
}

.show-data{
    width: 82%;
    height: 30%;
    /* background-color: aliceblue; */
    border-radius: 10px;
    margin-top: 30px;
}
.show{
    background-color: aliceblue;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid lightblue;
}

.buttons{
    /* display: flex; */
    width: 20%;
}
.buttons button{
    margin-right: 10px;
}